:root {
  --salt: #f3fafd;
  --prussian-blue: #0B3954;
  --metalic-seaweed: #087E8B;
  --pale-yellow: #F0F3BD;
}

.master {
  margin: 0 0 0 0;
  padding: 0;
  background-color: var(--prussian-blue);
  color: var(--salt, white);
  overflow-x: hidden;
}

#nav-bar {
  background-color: #FC7753 !important;
  position: fixed;
  width: 100%;
  display: flex;
  top: 0;
  z-index: 2;
}

#ss-logo {
  color: blue;
  font-size: 1.5rem;
  font-weight: bold;
  animation: rotateAnimation 5s linear infinite;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  display: flex;
}

@keyframes rotateAnimation {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

.nav-bar-items {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  margin-right: 1rem;
}

.nav-bar-item {
  text-decoration: none;
  color: var(--salt, white);
  display: block;
  cursor: pointer;
  padding: initial;
}

.nav-bar-item:hover {
  color: black;
  transition: 1s;
}

#sign-out {
  display: none;
}

#cart-count {
  font-size: 1.1rem;
  margin-left: 0.25rem;
}

#main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.search-form {
  display: flex;
  gap: 1rem;
  max-width: 40rem !important;
}

#shopping-items,
#cart-details-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;  
  list-style: none;
}

#shopping-items {
  margin-top: 5rem;
}

.shopping-grid-item {
  margin-left: auto;
  margin-right: auto;
  max-width: 19rem;
  border: 1px solid #8B635C !important;
  box-shadow: 2px 2px #8B635C;
}

.card-img-top {
  width: 17rem !important;
  height: 20rem !important;
}

#footer {
  text-align: center;
}

/* registration and log in pages */

.registration-section-content {
  border: 2px solid red;  
  border-radius: 30px;
  box-shadow: 0px 0px 20px palevioletred;  
  padding: 2.5rem 3rem 2.5rem 3rem;
  width: 1000px;
}

.form-layout {  
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-element-package {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.secondary-title {
  margin-bottom: 2rem;
  text-align: center;
}

#email-error,
#password-error {
  color: orange;
  display: none;
  grid-column: 2/3;
}

/* payment page */

#cart-contents,
#cart-details-list {
  margin-top: 3rem;
}